body{
font-family:Arial;
background:#f2f2f2;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:40px;
border-radius:10px;
width:420px;
text-align:center;
box-shadow:0px 0px 10px gray;
}

input{
width:90%;
padding:8px;
margin:5px;
}

button{
background:#4CAF50;
color:white;
border:none;
padding:8px;
margin:5px;
border-radius:5px;
cursor:pointer;
}

.addbtn{
padding:10px;
margin:10px;
}

#output{
margin-top:20px;
text-align:left;
}